* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header img{
    height: 50px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
    background-color: rgb(184, 113, 250);
    text-align: center;
}


.submenu{
    display: none;
    border: 1px solid rgb(234, 91, 247);
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu > li{
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}


.clear {
    clear: both;
}

.menu li:hover .submenu{
    display: block;
}

.menu li:hover {
    border-color: rgb(241, 91, 241);
}

.submenu li {
    display: block;
    padding: 8px;
}

.sobre-nos {
    display: flex;
    align-items: flex-start;
}

.texto-sobre-loja h2{
    max-width: 50%; 
    border-bottom: solid 1px rgb(241, 91, 241);
    margin-bottom: 16px;
    color: rgba(129, 2, 129, 0.726);
}

.sobre-nos img {
    max-width: 90%; 
    height: auto;
    padding: 20px;
}


.texto-produto{
    display: block;
    margin-top: 16px;
    margin-bottom: 20px;
    color: rgba(129, 2, 129, 0.726);
    border-bottom: solid 2px rgb(241, 91, 241);
}

.container .produtos{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 1%;
    row-gap: 5%;
    margin-bottom: 24px;
}

.produtos li img{
    max-width: 100%;
}

.produtos li{
    list-style: none;
}



.produtos li button{
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(241, 91, 241);
    width: 100%;
}


footer{
    text-align: center;
    background-color: rgb(241, 91, 241);
}

@media screen and (max-width: 640px) {
    .sobre-nos{
        display: block;
    }
    
    .container{
        max-width: 90%;
    }

    .container .produtos{
        display: block;
    }

    .produtos li {
        padding: 16px;
    }

    header div.container{
        flex-direction: column;
    }

    .menu > li{
        clear: both;
    }

    .menu{
        display: none;
    }
    
    
    .submenu{
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }
    


    .submenu li {
        display: block;
        padding: 8px;
    }

    .botao-menu{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;

    }

    .botao-menu button{
        padding: 8px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    .container{
        max-width: 90%;
    }

    .sobre-nos{
        display: block;
    }

    .container .produtos{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        column-gap: 1%;
        row-gap: 5%;
        margin-bottom: 80px;
    }

    .botao-menu{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu{
        display: none;
    }
}